*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #f8f9fa;
  background-color: #212529;
}
.header {
  padding: 4rem;
  text-align: center;
}
.header h1 {
  margin-bottom: 2rem;
  font-size: 4.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main {
  max-width: 140rem;
  margin-inline: auto;
  min-height: 60rem;
}

.form-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
  position: relative;
}

.form-weather input {
  padding: 1rem 2rem;
  border-radius: 100vmax;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #f8f9fa;
}
.form-weather label {
  font-size: 2.4rem;
  cursor: pointer;
}
.form-weather button {
  border: 1px solid #f8f9fa;
  padding: 1rem 2rem;
  border-radius: 100vmax;
  background-color: transparent;
  font-size: inherit;
  color: #f8f9fa;
  text-transform: uppercase;
  transition: all 0.3s;
}
.form-weather button:hover {
  background-color: #f8f9fa;
  color: #212529;
}

.error {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fa5252;
}

.capital {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 4rem;
}
.capital h2 {
  margin-bottom: 1rem;
}

.img {
  width: 10rem;
  height: 5rem;
  object-fit: cover;
  display: none;
}
.date {
  font-size: 1.6rem;
}

.carousel {
  min-height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f8f9fa;
  border-radius: 10px;
  gap: 2rem;
  padding: 4rem 0;
  width: 30rem;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 9rem;
  padding-bottom: 4.5rem;
}

.footer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.3s;
  border-radius: 100vmax;
}
.footer a:hover {
  background-color: #333;
}
